
/* Unset properties */
html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #101214;
}

a {
    text-decoration: none;
}
input {
    background: none;
    border: none;
}
input:focus {
    outline: none;
}

/* Colors */
.purple::before {
    background-color: purple;
}
.green::before {
    background-color: #32cdcd;
}
.blue::before {
    background-color: #1382ba;
}
.black::before {
    background-color: #000;
}
.yellow::before {
    background-color: orange;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c3e5059;
    height: 60px;
    padding: 10px 20px;
}
/* Logo */
#logo {
    color: #2c3e50;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
    /* text-shadow: 2px 3px gainsboro; */
}
#logo::before, #logo::after {
    opacity: .7;
}
#logo::before {
    content: 'HS';
    background-color: #fab1a0;
    padding: 3px;
}
#logo::after {
    content: 'TV';
    background-color: #74b9ff;
    padding: 3px;
}

#nav a {
    margin: 0 20px;
    color: #e2e2e2cc;
    transition: all .3s;
}
#nav a:hover {
    color: #fff;
}
#nav a span {
    font-size: 1rem;
}
#nav a i{
    color: #fff;
    font-size: 1.5rem;
    background-color: #1382ba67;
    border-radius: 50%;
    transition: all .3s;
    box-shadow: 0 0 3px rgba(100, 100, 100, .1);
    margin-left: 10px;
}
#nav .cinema i {
    padding: 12px 10.5px;
}
#nav .share i {
    padding: 12px;
}
#nav a:hover i{
    transform: rotate(360deg) scale(1.2);
    box-shadow: 0 0 10px rgba(100, 100, 100, .2);
}
#nav .cinema:hover i {
    background-color: maroon;
}
#nav .share:hover i {
    background-color: orange;
}

/* Body */
#body {
    display: flex;
    flex-shrink: 1;
    padding: 20px;
    margin-bottom: 100px;
}
/* Video player */
#video-container {
    flex: 2;
}
#video {
    background: #000;
    padding-top: 56.25%;
}
/* Channels */
#channels {
    position: relative;
    flex: 1;
    margin: 0 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px rgba(100, 100, 100, .2);
}
#channels #title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-weight: 500;
    color: #f2f2f2;
    background-color: #2c3e50;
}
#title > #channels-search {
    background: #202a35;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 20px;
    transition: all .3s;
}
#title #channels-search::placeholder {
    color: #f3f2f2;
    font-weight: 500;
}
#title #channels-search:focus {
    flex: 1;
    box-shadow: 0 0 0 2px #27a3f6cc;
}
#title i {
    position: absolute;
    right: 40px;
    color: #4892c380;
    transition: all .3s;
}
#channels-search:focus + i {
    color: #27a3f6cc;
}
#channels-list-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #424a5341;
    overflow-y: scroll;
}
.channel {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 20px 0 20px;
    height: 50px;
    background-color: #2c3e5060;
}
.channel:last-child {
    margin-bottom: 20px;
}
.channel::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    cursor: pointer;
    animation : .2s 1 forwards skew-in;
}
.channel:hover::before {
    animation: .2s 1 forwards skew-out;
}
.channel > img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.channel > p {
    margin-left: 10px;
    color: #e2e2e2;
    font-size: 1rem;
}
/* Footer */
#footer {
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    right: 0;
    left: 0;
    bottom: 0;
    color: rgb(179, 177, 177);
    background-color: #2c3e503d;
    text-align: center;
}
#footer p{
    margin: 5px;
}
#footer a{
    /* color: rgb(207, 204, 204); */
    color: #62b0fccc;
}

/* Animations */
@keyframes skew-out {
    0% {
        width: 10px;
    }
    10% {
        border-radius: 0 25px 25px 0;
    }
    100% {
        content: 'Watch';
        width: 100%;
        border-radius: 0;
    }
}
@keyframes skew-in {
    from {
        width: 100%;
    }
    to {
        width: 10px;
    }
}


/* Mobile optimizations */
@media screen and (max-width: 900px) {
    #header {
        padding: 5px 10px;
    }
    #logo {
        font-size: 1.5rem;
    }
    #nav a {
        margin: 0 5px;
    }
    #nav a span {
        display: none;
    }
    #nav a i {
        font-size: 1.2rem;
        margin-left: 0;
    }
    #body {
        flex-direction: column;
        padding: 10px;
    }
    #channels {
        margin: 20px 0 0 0;
    }
    #channels-list-container {
        height: 500px;
    }
    #channels #title {
        font-size: 1rem;
    }
    #title #channels-search {
        display: none;
    }
    #title i {
        display: none;
    }
    #footer {
        display: none;
    }
}
